<app-navbar></app-navbar>

<div id="Slider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item text-center bg-cover vh-100 active slide-1">
            <div class="container h-100 d-flex align-items-center justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h6 class="text-white">WELCOME TO HAPPY PIGG</h6>
                        <h1 class="display-1 my-3 fw-bold text-white">Char-grilled and flavor-filled</h1>
                          
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item text-center bg-cover vh-100 slide-2">
            <div class="container h-100 d-flex align-items-center justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h6 class="text-white">WELCOME TO HAPPY PIGG</h6>
                        <h1 class="display-1 my-3 fw-bold text-white">Char-grilled and flavor-filled</h1>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item text-center bg-cover vh-100 slide-3">
            <div class="container h-100 d-flex align-items-center justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h6 class="text-white">WELCOME TO HAPPY PIGG</h6>
                        <h1 class="display-1 my-3 fw-bold text-white">Char-grilled and flavor-filled</h1>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#heroSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


  <!-- About -->
  <section id="about">
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-5">
                <img src="../assets/c.jpg" alt="">
            </div>
            <div class="col-lg-5">
                <h1>About us</h1>
                <div class="divider my-4"></div>
                <h4>Happy Pigg!</h4>
                <p> We are a leading restaurant-tech company with a suite of products for Fine-Dine Restaurants, QSR, 
                    Pubs, Cafes, Hotels & Cloud Kitchens. Our products are designed to not only streamline operations, 
                    but also realise higher Revenue & Profits.</p>
                <button class="btn" routerLink="/app-card">To Know More</button>
            </div>
        </div>
    </div>
</section>


    <!-- services-->
    <section id="menu" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 intro-text">
                    <h1>Our Services</h1>
                    <h4>"Good food choices are good investments!"</h4>
                       <p> We "Happy Pigg" brings you best of all
                        restaurant out of town.
                    </p>
                </div>
                <div class="text-center">
                    <button class="btn btn-brand mx-auto " routerLink="/app-search">
                        Get Restaurants
                    </button>
                </div>
                
            </div>
        </div>
    </section>
        <!-- Features -->
        <section id="features" class="bg-cover">
            <div class="container">
                <div class="row">
                    <div class="col-12 intro-text">
                        <h1 class="text-white">Why to choose us?</h1>
                        <p class="text-white">There are several specific reasons there to choose us!<br>
                            We always bring you best of all!
                        </p>
                    </div>
                </div>
                <div class="row gy-4">
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature p-4 text-center">
                            <div class="feature-icon">
                                <i class="ri-refund-2-line"></i>
                            </div>
                            <h4 class="text-white mt-4 mb-2">Best Offers</h4>
                            <p class="text-white">We provide you the best offers in the restaurant
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature p-4 text-center">
                            <div class="feature-icon">
                                <i class="ri-timer-2-fill"></i>
                            </div>
                            <h4 class="text-white mt-4 mb-2">Fast Delivery</h4>
                            <p class="text-white">We deliver your food quickly and freshly
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature p-4 text-center">
                            <div class="feature-icon">
                                <i class="ri-restaurant-line"></i>
                            </div>
                            <h4 class="text-white mt-4 mb-2">Highly Rated</h4>
                            <p class="text-white">We only provide you the top rated restaurant out of town
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature p-4 text-center">
                            <div class="feature-icon">
                                <i class="ri-shield-star-fill"></i>
                            </div>
                            <h4 class="text-white mt-4 mb-2">100% Trustable</h4>
                            <p class="text-white">We are Certified and most Trustable
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <app-footer></app-footer>